<button aria-hidden="true" class="menu__btn" id="menu">
	<img class="menu_icon"src="/img/menu_close.svg" alt="open or close the menu">
</button>
<nav role='navigation' aria-label="pages" class="nav">
	<h1 aria-hidden="true" class="nav__msg" aria-hidden="true">Don't Call The Cops</h1>
	<ul role="list" class="menu">
		<li>
			<a class="menu__link" href="/">Home</a>
		</li>
{% for page in collections.pages %}
		<li>
			<a class="menu__link" href="{{page.url}}">{{page.data.title}}</a>
		</li>
{% endfor %}
	</ul>
</nav>

