<button aria-hidden="true" class="menu__btn" id="menu">
	<img class="menu__icon"src="/img/menu_close.svg" alt="open or close the menu">
</button>
<nav role='navigation' aria-label="pages" class="nav">
	<h1 aria-hidden="true" class="nav__msg" aria-hidden="true">Don't Call The Cops</h1>
	<ul role="list" class="menu">
		<li class="menu__item">
			<a class="menu__link" href="/">Home</a>
		</li>
{% for item in collections.menu %}
		<li class="menu__item">
			<a class="menu__link" href="{{item.url}}">
				{% if item.data.menu_title %}
					{{item.data.menu_title}}
				{% else %}
				{{item.data.title}}
				{% endif %}
			</a>
		</li>
{% endfor %}
	</ul>
</nav>

