---
layout: base.njk
---

{{ content | safe}}

<ul class="questions" role="list">
	{% for reason in collections.reasons %}
	<li class="org__contact__method">
			<p class="org__contact__method__type">{{reason.data.title}}</p>
			<a class="catagorie__link " href={{reason.url}}>More</a>
		</li>
	{% endfor %}
</ul>
