---
layout: base.njk
---

{{ content | safe}}

{% for reason in collections.reasons %}

<h2 class="accordian__header" >{{reason.data.title}}</h2>

<div class="accordian__body screen-reader-only">
	{{reason.templateContent | safe}}
</div>

{% endfor %}
